*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
img,
video {
  max-width: 100%;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
}

/* font-family: "Oswald", sans-serif;
  font-family: "Quicksand", sans-serif; */

:root {
  --background-color: #8da2b6;
  --text-color: black;
  --button-color: #c89b99;
  --line-color: #c89b99;
}
h1 {
  margin-left: 10px;
  margin-bottom: 100px;
}

@media (min-width: 600px) {
  h1,
  h2 {
    text-align: center;
  }
}

h2 {
  margin-left: 10px;
  margin-bottom: 50px;
}

h3 {
  margin-bottom: 15px;
}

.section_one {
  margin-bottom: 50px;
}

.section_one p {
  margin-bottom: 30px;
  margin-left: 10px;
}

.section_two,
.section_four {
  margin-bottom: 50px;
  margin-left: 10px;
}
.section_three,
.section_five {
  margin-left: 10px;
  margin-bottom: 100px;
}

.section_two p,
.section_three p,
.section_four p,
.section_five p,
.section_six p {
  margin-right: 10px;
}

.one,
.three,
.five,
.seven {
  margin-bottom: 30px;
}

.section_four h3 {
  margin-top: 30px;
  margin-right: 10px;
}
.section_six {
  margin-bottom: 100px;
}

.section_six p {
  margin-left: 10px;
}

@media (min-width: 1000px) {
  .section_one {
    margin-left: 150px;
  }
}

@media (min-width: 1000px) {
  .section_two,
  .section_three,
  .section_four,
  .section_five,
  .section_six {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    gap: 25px;
  }
}
